html, head, body, div, ul, li, button, a, img, h1, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
body {
  line-height: nomarl;
}
a {
  text-decoration: none;
  color: black;
}
.topBar {
  min-width: 1280px;
  background: #fbfbfb;
  text-align: center;
  justify-content: space-between;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

.btn_pop {
  padding-right: 10px;
}
.left-area {
  position: absolute;
  padding: 0px 10px;
}
.left {
  display: flex;
}

.center_area {
  display: inline-block;
}
.link {
  border-right: solid 1px gray;
  padding: 0px 10px;
}
.center_area li {
  list-style: none;
  float: left;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}
.right_area {
  padding-right: 30px;
}
.right_area > div {
  float: left;
  padding: 0px 3px;
  font-size: 11px;
}

.btn_Login {
  background-color: #ff7e00;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 20px;
}
.btn_Quick {
  background-color: #02aa35;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 20px;
}

.min-width {
  min-width: 1280px;
}

.commu-content header h1 {
  margin: 0 10px 0 0;
  width: 282px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
header {
  display: flex;
  margin: 0 0 10px 0;
}
.commu-content {
  width: 1020px;
  margin: 0 10px 0 0;
}
.commu-content h1 a img header {
  vertical-align: middle;
}
.commu-content img {
  padding: 10px 0 0 0;
}
.commu-wrap {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 10px 0 0 0;
  width: 1280px;
}
.ad-header {
  width: 728px;
  height: 90px;
}

#mainBody {
  height:1280px;
}
